{% extends 'base.html.twig' %}

{% block body %}
<h1>Livres disponibles</h1>
{% if livres %}


 {% for livre in livres %}
 
    {% if 'https://' in 'main ' ~ livre.image  %}
        <p><img src="{{ livre.image }}" alt=""></p>
    {% else %}
        <p><img src="{{ asset('uploads/images/livres/' ~ livre.image ) }}" alt=""></p>
    {% endif %}


    <p>{{ livre.auteur }}</p>
    <p>{{ livre.titre }}</p>
    <p>{{ livre.editeur }}</p>

 {% endfor %}
{% else %}
<p>Aucun livre dans le CDI !</p>{% endif %}


{% endblock %}
