{% extends 'base.html.twig' %}

{% block body %}
<h1>Livres disponibles</h1>
{% if livres %}

 {% for livre in livres %}

    {% if 'https://' in 'main ' ~ livre.image  %}
        <p><img src="{{ livre.image }}" alt="{{ livre.titre }}"></p>
    {% else %}
        <p><img src="{{ asset('uploads/images/livres/' ~ livre.image ) }}" alt="{{ livre.titre }}"></p>
    {% endif %}

    <p>{{ livre.titre }}</p>
    <p><strong>Auteur</strong> : {{ livre.auteur }}</p>
    <p><strong>Editeur</strong> : {{ livre.editeur }}</p>

 {% endfor %}

{% else %}
    <p>Aucun livre dans le CDI !</p>
{% endif %}

{% endblock %}
