{% extends 'base.html.twig' %}

{% block body %}
{% if livres %}
<h1>Livres disponibles</h1>

 {% for livre in livres %}

    {% if 'https://' in 'main ' ~ livre.image  %}
        <p><img src="{{ livre.image }}" alt="{{ livre.titre }}"></p>
    {% else %}
        <p><img src="{{ asset('uploads/images/livres/' ~ livre.image ) }}" alt="{{ livre.titre }}"></p>
    {% endif %}

    <p>{{ livre.titre }}</p>
    <p><strong>Auteur</strong> : {{ livre.auteur }}</p>
    <p><strong>Editeur</strong> : {{ livre.editeur }}</p>
<p>
	<strong>Collection </strong> :
	:
	{% for genre in livre.genre %}
		<span>{{ genre.nom }}</span>
	{% endfor %}
</p>

 {% endfor %}

 {{ knp_pagination_render(livres) }}

{% else %}
    <p>Aucun livre dans le CDI !</p>
{% endif %}

{% endblock %}
