<nav>
<ul>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
        <li><img src="{{ asset('assets/images/' ~ app.user.avatar) }}" alt="" class="avatar"></li>
    {% else %}
        <li><a href="{{ path('app_login') }}">Connexion</a></li>
        <li><a href="{{ path('app_register') }}">Inscription</a></li>
        <li><img src="{{ asset('assets/images/avatar.svg') }}" alt=""  class="avatar"></li>
    {% endif %}
</ul>
</nav>