{% extends 'base.html.twig' %}

{% block title %}Livre index{% endblock %}

{% block body %}
<h1 class="txt-center">Catalogue Livres</h1>

{% for messages in app.flashes %}
	{% for message in messages %}
		<div class="flash-notice">
			{{ message }}
		</div>
	{% endfor %}
{% endfor %}

<p>
	<a href="{{ path('app_livre_new') }}" class="btn">Ajouter un livre</a>
</p>


    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Auteur</th>
                <th>Date_publication</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for livre in livres %}
            <tr>
                <td>{{ livre.id }}</td>
                <td>{{ livre.titre }}</td>
                <td>{{ livre.auteur }}</td>
                <td>{{ livre.datePublication ? livre.datePublication|date('Y-m-d') : '' }}</td>
                <td>
<a href="{{ path('app_livre_show', {'id': livre.id}) }}" class="btn">Voir</a>
<a href="{{ path('app_livre_edit', {'id': livre.id}) }}" class="btn">Modifier</a>

                </td>
            </tr>
        {% else %}
            <tr>
<td colspan="9">Aucun livres !</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
{{ knp_pagination_render(livres) }}


<p>
	<a href="{{ path('app_livre_new') }}" class="btn">Ajouter un livre</a>
</p>

{% endblock %}
