{% extends 'base.html.twig' %}

{% block title %}Livre{% endblock %}

{% block body %}
    <h1>Livre</h1>

    <table class="table">
        <tbody>
<tr></tr>

                <th>Titre</th>
                <td>{{ livre.titre }}</td>
            </tr>
            <tr>
                <th>Editeur</th>
                <td>{{ livre.editeur }}</td>
            </tr>
            <tr>
                <th>Auteur</th>
                <td>{{ livre.auteur }}</td>
            </tr>
            <tr>
                <th>Isbn</th>
                <td>{{ livre.isbn }}</td>
            </tr>
            <tr>
                <th>Date_publication</th>
                <td>{{ livre.datePublication ? livre.datePublication|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Image</th>
<td>
	{% if 'https://' in 'main ' ~ livre.image  %}
		<img src="{{ livre.image }}" alt="{{ livre.titre }}">
	{% else %}
		<img src="{{ asset('uploads/images/livres/' ~ livre.image ) }}" alt="{{ livre.titre }}">
	{% endif %}
</td>

            </tr>
            <tr>
                <th>Resume</th>
                <td>{{ livre.resume }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_livre_index') }}" class="btn">Retour à la liste des livres</a>

    <a href="{{ path('app_livre_edit', {'id': livre.id}) }}" class="btn">Modifier</a>

    {{ include('livre/_delete_form.html.twig') }}
{% endblock %}
